<template>
  <v-layout row m-4 justify-center>
    <v-flex xs12 sm6 md4>
      <v-card color="secondary" class="mb-5" height="auto" >
          <div class="firstclass">
            <h1>{{ msg }}</h1>
            <p></p>
            <h2>Program Status:</h2>
            <body>{{ status }}</body>
          </div>
          <div class="buttonstart">
            <v-btn 
              color=blue
              :disabled="!buttonStartValid"
              v-on:click="submit"
              >START</v-btn>
          </div>
          <div class="buttonclear">
            <v-btn 
              color=blue
              :disabled="buttonStartValid"
              v-on:click="clear"
              >CLEAR</v-btn>
          </div>
          <v-list 
            style="max-height: 300px"
            class="scroll-y">
            <template v-for="(item) in outputArray">
                <v-list-tile-content>
                  <v-list-tile-title v-text="item"></v-list-tile-title>
                </v-list-tile-content>
            </template>
          </v-list>
      </v-card>
    </v-flex>
  </v-layout>

</template>

<script>
import functionalityMixin from '../mixins-and-methods/functionalityMixin'

export default {
  name: 'Application',
  props: {
    msg: String
  },
  data () {
    return {
      buttonStartValid: true,
      status: 'Ready',
      api1: {},
      api2: {},
      outputArray: [],
    }
  },
  methods: {
    submit () {
      var that = this;
      that.status = 'Hitting APIs...';
      this.testFunction();
      return this.hitApi('https://join.reckon.com/test1/rangeInfo')
      .then(function(res) {
        that.api1 = res;
        that.status = 'API rangeInfo hit successfully';
        console.dir(that.api1);
      })
      .then(function() {
        return that.hitApi('https://join.reckon.com/test1/divisorInfo')
      })
      .then(function(res) {
        that.api2 = res;
        that.status = 'API divisorInfo hit successfully';
        console.dir(that.api2);
      })
      .then(function() {
        return that.comparisonFunctionEntry(that.api1, that.api2)
      })
      .then(function(res) {
        that.status = 'Program complete';
        that.outputArray = res;
        that.buttonStartValid = false;
        console.dir(that.outputArray);
      })
    },
    clear () {
      var cleanArray = [];
      this.outputArray = cleanArray;
      this.buttonStartValid = true;
      this.status = 'Ready';
      console.log('Program reset by user');
    }
  }
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>