<template>
  <div id="app">
    <Application msg="My Reckon Test Submission"/>
  </div>
</template>

<script>
import Application from './components/Application.vue'

export default {
  name: 'app',
  components: {
    Application
  }
}
</script>